.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    background-color: #ffffff;
}

.title {
    font-weight: 700;
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 20px;
}